@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.wrapper:last-child {
  margin-bottom: 0;
}

/* header */

.page-header {
  position: relative;
  color: inherit;
  background-color: #FFE17F;
  margin-top: 40px;
  min-height: 300px;
  padding: 46px 60px 0;
  box-sizing: border-box;
}

.search-form {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 30px;
  width: 517px;
}

.search {
  height: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  padding-left: 46px;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 11px;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.3)
}

.find-button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-left: 2px solid black;
  display: block;
  margin-left: auto;
  background: transparent;
  padding: 0 55px;
}

.logo {
  position: absolute;
  top: -20px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-section-item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.navigation-section-item-link {
  position: relative;
}

.navigation-section-short {
  gap: 17px;
}

.navigation-section-wide {
  max-width: 650px;
  gap: 44px;
}

.badge {
  position: absolute;
  top: 4px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
}

.navigation-top-section-enter {
  display: flex;
  align-items: center;
}

.navigation-user-link {
  /* кликабельная область */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: 10px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.not-active {
  opacity: 0.3;
  margin-left: 28px;
}



/* main */
.main-container {
  flex-grow: 1;
}

.slider {
  position: relative;
}

.slider-dots {
  position: absolute;
  bottom: 0;
  left: 542px;
  display: flex;
  gap: 20px;
}

.slider-dots div {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
}

.slider-dots .active {
  background-color: black;
}

.slider-title {
  margin-top: 10px;
  margin-bottom: 27px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-description {
  margin: 0 0 60px;
}

.slider-item {
  display: none;
  margin-top: -166px;
  position: relative;
  gap: 40px;
}

.slider-item-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
}

.slider-item-active {
  display: flex;
}

.slider-img {
  display: flex;
  align-items: center;
  margin-top: 17px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 211px;
}

.arrow-left {
  left: 30px;
}

.arrow-right {
  right: 0;
}

.slider-button {
  margin-bottom: 60px;
}

.main-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-number {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  color: #FFFFFF;
  padding-right: 48px;
  box-sizing: border-box;
  }

.text {
  color: #444444;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 27px;
}

.specification {
  display: flex;
  gap: 20px;
}

.specification-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.specification-item-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.specification-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.category {
  margin-top: 70px;
}

.category-card {
  width: 160px;
}

.category-card-image {
  background-color: #FFE17F;
  margin-bottom: 24px;
}

.category-card-text {
  margin: 0;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 40px;
  padding: 0;
}

.category-card-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.category-card-link p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.advantage-button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 9px 118px 9px 0;
  border: none;
  cursor: pointer;
}

.advantage-button-title {
  position: relative;
  padding: 0 17px;
}

.advantage-button-title span {
  position: relative;
  z-index: 1;
}

.advantage-main-title {
  margin: 0;
}

.delivery-list {
  margin-top: 0;
  padding-left: 22px;
}

.contact-title {
  margin: 40px 0 48px;
}

.advantage-button.active {
  color: #FFE17F;
  background-color: #000000;
}

.advantage-button.active .button-background {
  display: none;
}

.advantage {
  margin-top: 82px;
  background: linear-gradient(0deg, #F0F0F0 74%, #fff 25%);
  min-height: 289px;
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.advantage-wrapper {
  display: flex;
}

.advantage-list {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 65px 0;
  border-right: 6px solid #000000;
}

.advantage-item-wrapper {
  padding: 76px 63px 0 116px;
}

.advantage-item {
  display: flex;
}

.advantage-item-description {
  margin-top: 30px;
}

.advantage-delivery {
  display: flex;
}

/* .delivery-button {
  background-color: #F0F0F0;
}

.icons-car {
  background-color: #FFE17F;
}

.icons-notice {
  border-radius: 50px;
  background: rgba(220, 220, 220, 0.5);
} */

.delivery-section {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  height: 100px;
  padding-right: 43px;
  background-color: #F0F0F0;;
}

.delivery-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100%;
  background: #FFE17F;
}

.delivery-section-item {
  display: flex;
  align-items: center;
  padding-left: 198px;
  letter-spacing: 4px;
  height: 100%;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;

}

.delivery-notice-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.delivery-notice {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.delivery-item {
  color: #FFC700;
  margin-bottom: 10px;
}

.delivery-item:last-child {
  margin-bottom: 0;
}

.delivery-item span{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 14px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 8px 0 15px;
}

.work-time {
  margin-top: 30px;
}

.section-contact {
  margin-top: 70px;
  display: flex;
  gap: 108px;
}

.main-button.section-contact-button {
  display: block;
  margin: 15px 0;
  padding: 0 24px;
}

.contacts {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.contacts-schedule {
  margin-top: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  list-style-type: none;
}

.main-button.contact-us-button {
  margin-top: 22px;
  padding: 0 33px;
}

.main-button {
  position: relative;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 40px;
  color: #000000;
}

.button-background {
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  z-index: 0;
}

.button-title {
  position: relative;
  z-index: 1;
}

.section-distribution {
  margin-top: 79px;
  background-color: #F0F0F0;;
}

.section-distribution-wrapper {
  padding: 65px 0 56px 14px;
  display: flex;
  flex-direction: column;
  gap: 144px;
}

/* .section-distribution-title {
  margin-top: 74px;
} */

.section-distribution-title {
  margin: 0;
}

.section-distribution-top {
  display: flex;
  justify-content: space-between;
}

.section-distribution-text {
  max-width: 560px;
  margin: 0;
  padding-top: 10px;
}

/* форма */

.section-distribution-bottom {
  display: flex;
  justify-content: space-between;
}

.section-distribution-bottom-form {
  width: 804px;
  display: flex;
  border-bottom: 3px solid #C4C4C4;
}

.email-input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 11px 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.subscribe-button {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  border-bottom: none;
  margin: 0;
  padding: 0 34px;
}

.section-distribution-free {
  display: flex;
  gap: 16px;
  align-items: center;

}

/* footer */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-wrapper {
  padding: 64px 0 62px;
}

.footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-left {
  max-width: 240px;
}

.footer-section-left > img {
  margin-top: 64px;
}

.footer-section-center {
  align-items: center;
}

.footer-section-right {
  padding-top: 8px;
  align-items: flex-end;
}

.page-footer-top {
  padding: 0;
}


.page-footer-bottom {
  display: flex;
  padding: 0;
  margin-top: 62px;
}

.autograph {
  margin-top: 64px;
}

.navigation-list {
  display: flex;
  column-gap: 35px;
  padding: 0;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  min-width: 500px;
  flex-wrap: wrap;
}

.text-footer {
  color: #FFFFFF;
}

.contacts-footer {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}

.logo-footer {
  margin-bottom: 25px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.social-button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}










/* catalog */

.catalog {
  display: flex;
}

.catalog-header {
  min-height: 186px;
  padding-bottom: 20px;
}

.catalog-title {
  margin: 0;
}

.inner-header {
  box-sizing: border-box;
  padding: 34px 0 12px 60px;
}

.filter-wrapper {
  max-width: 200px;
  padding: 25px 60px 0 60px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  padding: 0;
  margin-top: 10px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../images/icons-switch.svg');
  margin-left: 16px;
}

.breadcrumbs-item a{
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.assortment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.assortment-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.catalog-wrapper {
  width: 840px;
}

.catalog-products {
  display: flex;
  background-color: #F0F0F0;
}

.filter-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #000000;
  padding-bottom: 58px;
}

.select-control {
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.sort-icons {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* фильтр - форма */

.catalog-filter {
  margin-top: 8px;
}

.catalog-filter-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;

  list-style-type: none;
}

.button {
  border: none;
}

.catalog-filter-button {
  margin-top: 45px;
}

.product {
  background: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.product-card {
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  display: block;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.product-card-price {
  margin: 0;
  line-height: 21px;
  color: #444444;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  max-width: 200px;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 43px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 40px;
  border: 3px solid #E5E5E5;
  background: #FFFFFF;
  margin-bottom: 44px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  list-style-type: none;
  background: #EBEBEB;
}

.pagination-back {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #444444;
  opacity: 0.3;
}

.pagination-numbers {
  display: flex;
  gap: 30px;
  max-width: 350px;
  flex-wrap: wrap;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-next {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}
